<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <style>
        .lead {
          font-size: 1.5em;
          background-color: #ffc107;
          padding: 5px;
          border-radius: 10px;
          margin: 10px;
          width: 500px;
        }
        h1{
          font-size: 3em;
        }
      </style>
  </head>
  <body>
    <h1>Lead List</h1>
    <h3>This is all our leads: </h3>
    <ul>
      {% for lead in leads %}
      <a href="{{lead.pk}}/"><li class="lead">{{lead}} </a> // Source: {{lead.source}}  </li>
      {% endfor %}
    </ul>

  </body>
</html>
