<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <style>
        .lead {
          font-size: 1.5em;
          background-color: #ffc107;
          padding: 5px;
          border-radius: 10px;
          margin: 10px;
          width: 200px;
        }
      </style>
  </head>
  <body>
  <a href="/leads">Go Back to Leads</a>
    <h1>Lead Information</h1>
    <ul>
      <li class="lead">
      {{lead}} </li>
      <li class="lead">
      Age: {{lead.age}} </li>
      <li class="lead">
      Source: {{lead.source}} </li>
      <li class="lead">
      Phoned: {{lead.phoned}} </li>
    </ul>

  </body>
</html>