<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <style>
        .lead {
          font-size: 1.5em;
          background-color: #ffc107;
          padding: 5px;
          border-radius: 10px;
          margin: 10px;
          width: 400px;
        }
      </style>
  </head>
  <body>
  <a href="/leads">Go Back to Leads</a>
  <hr />
  <hr />
    <h1>Lead Information</h1>
    <ul>
      <li class="lead">
      {{lead}} </li>
      <li class="lead">
      Age: {{lead.age}} </li>
      <li class="lead">
      Source: {{lead.source}} </li>
      <li class="lead">
      Phoned: {{lead.phoned}} </li>
      <li class="lead">
      Responsible Agent: {{lead.agent}} </li>
    </ul>
    <hr />
    <a href="/leads/{{lead.pk}}/update">Edit</a>
    <a href="/leads/{{lead.pk}}/delete">Delete</a>
  </body>
</html>